core/BroadleafCommerceFrameworkWeb/src/main/resources/META-INF/CartSummary-1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="Framework-1.5.xsd"/>
	<xsd:element name="cart-summary">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cart-order-item" maxOccurs="unbounded" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="order-item" type="order-item-impl" />
						</xsd:sequence>
						<xsd:attribute name="address-id" type="xsd:integer" />
						<xsd:attribute name="quantity" type="xsd:integer" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="fulfillment-group" minOccurs="0"
					maxOccurs="1" type="fulfillment-group-impl" />
				<xsd:element name="order-discount" type="xsd:float"
					minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>